services:
  nats:
    image: nats:latest
    command: "-n newton -DV -m 8222 -p 4222"
    hostname: nats-server
    ports:
      - "8222:8222"  # Monitoring port
      - "4222:4222"  # Client connection port
    networks:
      - aiori-net

  nats-ui:
    image: mdawar/nats-dashboard:latest
    container_name: natsui
    environment:
      REVERSE_PROXY_UPSTREAM: 'http://nats-server:8222'  # Connect to NATS monitoring
    ports:
      - "9222:80"  # Dashboard access port
    depends_on:
      - nats
    networks:
      - aiori-net

  nui:
    image: ghcr.io/nats-nui/nui:edge
    volumes:
     - ./db:/db
    ports:
     - "31312:31311" 
    depends_on:
       - nats
    networks:
      - aiori-net

  agent_1:
    build:
      context: .
      dockerfile: docker/Dockerfile.agent
    container_name: agent_1
    volumes:
      - ./:/app
    environment:
      - NATS_URL=["nats://nats-server:4222"]
      - AGENT_NAME=aiori_1
    ports:
      - "9101:9101"  # Agent metrics/API
    depends_on:
      - nats
    networks:
      - aiori-net
    working_dir: /app  # Ensure correct working directory

  agent_2:
    build:
      context: .
      dockerfile: docker/Dockerfile.agent
    container_name: agent_2
    volumes:
      - ./:/app
    environment:
      - NATS_URL=["nats://nats-server:4222"]
      - AGENT_NAME=aiori_2
    ports:
      - "9102:9102"  # Changed port to avoid conflict
    depends_on:
      - nats
    networks:
      - aiori-net
    working_dir: /app

networks:
  aiori-net:
    driver: bridge
